#header {}

#content {
    padding-top: 30px;
}

ul#artists-list {
    overflow: hidden;
    
}

ul#artists-list li {
    float: left;
    margin: 0 30px 30px;
}

ul#artists-list li .card {
    width: 15rem;
}

ul#artists-list li .card img {
    border-radius: 50%;
}