#header {}

#content {
    padding-top: 30px;
}

ul#artists-list,
ul#albums-list {
    overflow: hidden;
}

ul#artists-list li,
ul#albums-list li {
    float: left;
    margin: 0 30px 30px;
}

ul#artists-list li .card,
ul#albums-list li .card {
    width: 15rem;
}

ul#artists-list li .card img,
ul#albums-list li .card img {
    border-radius: 50%;
}

#albums-artist-card {}

#album-artist-card-image {
    float: left;
    border-radius: 50%;
}

#album-artist-card-data {
    float: left;
    margin: 50px 0 0 20px;
}